<h2>Events</h2>
<a href="#/events/add">Add new</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Category</th>
      <th>Title</th>
      <th>Description</th>
      <th>Date</th>  
      <th>Remaining</th>                
    </tr>
  </thead>
  <tbody>
    {{#each this}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td><a href="#/events?category={{category}}">{{category}}</a></td>
      <td>{{title}}</td>
      <td>{{description}}</td>
      <td>{{date}}</td> 
      <td>{{timeRemaining}}</td>                 
    </tr>
    {{/each}}
  </tbody>
</table>
