<div class="gallery row">
        <aside class="search col-md-2 position-fixed">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search by Artist or Title">
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">Style</a></li>
            <li role="presentation"><a href="#">Abstract Art</a></li>
            <li role="presentation"><a href="#">Landscape Art</a></li>
            <li role="presentation"><a href="#">Realism</a></li>
            <li role="presentation"><a href="#">Other</a></li>
        </ul>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">Subject</a></li>
            <li role="presentation"><a href="#">Animals</a></li>
            <li role="presentation"><a href="#">Flora</a></li>
            <li role="presentation"><a href="#">Landscape</a></li>
            <li role="presentation"><a href="#">Seascape</a></li>
            <li role="presentation"><a href="#">Other</a></li>
        </ul>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">Medium</a></li>
            <li role="presentation"><a href="#">Oil Painting</a></li>
            <li role="presentation"><a href="#">Acrilic Painting</a></li>
            <li role="presentation"><a href="#">Watercolor Painting</a></li>
            <li role="presentation"><a href="#">Other Media</a></li>
        </ul>
    </aside>
    {{#if paintings.length}}
    <ul class="galleryItems list-group row col-md-8 col-md-offset-2">
        {{#each paintings}}
        <li class="itemGallery list-group-item col-md-4">
            <img class="imgGallery img-thumbnail" src="{{image._downloadURL}}">
            <div>
                <a class="artist" data-id="{{_id}}" href="#/artist-info/{{artist}}">{{artist}}</a>
            </div>
            <div>
                <a class="title" data-id="{{_id}}" href="#/paintings/{{_id}}">{{title}}</a>
            </div>
        </li>
        {{/each}}
    </ul>
    {{else}} No paintings available! {{/if}}
    <nav class="col-md-6 col-md-offset-4" aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>