<div class="gallery row">
    <aside class="search col-md-2 position-fixed">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search by Artist or Title">
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">Style</a></li>
            <li role="presentation"><a href="#">Abstract Art</a></li>
            <li role="presentation"><a href="#">Landscape Art</a></li>
            <li role="presentation"><a href="#">Realism</a></li>
            <li role="presentation"><a href="#">Other</a></li>
        </ul>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">Subject</a></li>
            <li role="presentation"><a href="#">Animals</a></li>
            <li role="presentation"><a href="#">Flora</a></li>
            <li role="presentation"><a href="#">Landscape</a></li>
            <li role="presentation"><a href="#">Seascape</a></li>
            <li role="presentation"><a href="#">Other</a></li>
        </ul>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">Medium</a></li>
            <li role="presentation"><a href="#">Oil Painting</a></li>
            <li role="presentation"><a href="#">Acrilic Painting</a></li>
            <li role="presentation"><a href="#">Watercolor Painting</a></li>
            <li role="presentation"><a href="#">Other Media</a></li>
        </ul>
    </aside>
    <div class="col-md-8 col-md-offset-2 display-info">
        <div class="row">
            <div class="col-md-6">
                <img src="{{image._downloadURL}}" alt="" class="img-thumbnail">
            </div>
            <div class="col-md-6">
                <h2>Artist: <strong>{{artist}}</strong></h3>
                    <h3>Title: <strong>{{title}}</strong></h4>
                        <br>
                        <br>
                        <div class="description">Material: <strong>{{material}}</strong></div>
                        <div class="description">Tehnique: <strong>{{technique}}</strong></div>
                        <div class="description">Size: <strong>{{size}}</strong></div>
                        <div class="description">Description: <strong>{{description}}</strong></div>
                        <div class="description">Status: <strong>{{status}}</strong></div>
                        <div class="description">Price: <strong>{{price}}</strong></div>
                        <div class="description">Views: <span class="label label-default">{{views}}</span></div>
                        <div class="description">Comments: <span class="label label-default">{{comments}}</span></div>
                        <button type="button" class="btn btn-lg favorite">Add a comment</button>
                        <button type="button" class="btn btn-lg comment"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Add to Favorites</button>
                        <button type="button" class="btn btn-lg download">Download</button>
            </div>

        </div>
    </div>
</div>